<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>Team Blog - Overview</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>

  <body id="main">
    <!--<div id="for_testing"></div>-->
  {% include "header.html" %}
  <div id="page_title">
    <div class="row">
      <div id="heading" class="col-7">
    Follow our progress as we work toward a more inclusive hiring experience
  </div>
  <div class="col-6">
</div>
</div>
  </div>
    <!-- Header -->
    <!-- BLOG ENTRIES -->
    <div id="blog_page">
      <div class="container">      
      <section id="blog_posts">
        <div>

          <ul class="row">

           <li class="blog_post col-sm-12 col-md-4" id="blog-10">
            <a href="{{ url_for('blog_week_10') }}">
              <div class="item">
                <div class="thumbnail"></div>
                <div class="blog_week"> <h2>Week 10</h2></div>
                <div class="blog_title">How Do You Say Goodbye?
                </div>
                <p>It’s hard to believe but we are in the last week of work with our client. This project has taught us so many lessons, it’s hard to capture all of them.</p>
              </div>
            </a>
          </li>

           <li class="blog_post col-sm-12 col-md-4" id="blog-9">
            <a href="{{ url_for('blog_week_9') }}">
              <div class="item">
                <div class="thumbnail"></div>
                <div class="blog_week"><h2>Week 09</h2></div>
                <div class="blog_title">If We Could Turn Back Time</div>
              </div>
              <p>How often do you get the chance to do a project over again? Well, due to the nature of our Capstone, we find ourselves in a somewhat similar place to where we were at the end of Spring semester.</p>
            </a>
          </li>

           <li class="blog_post col-sm-12 col-md-4" id="blog-8">
            <a href="{{ url_for('blog_week_8') }}">
              <div class="item">
                <div class="thumbnail"></div>
                <div class="blog_week"><h2>Week 08</h2></div>
                <div class="blog_title">Designing Decisions</div>
              </div>
              <p>As we head into our final four weeks, and converge on delivering something for our client they are decisions galore to be made! Here are four ways our team is currently making decisions in this final stretch.</p>
            </a>
          </li>


           <li class="blog_post col-sm-12 col-md-4" id="blog-7">
            <a href="{{ url_for('blog_week_7') }}">
              <div class="item">
                <div class="thumbnail"></div>
                <div class="blog_week"><h2>Week 07</h2></div>
                <div class="blog_title">Divergence Before The Convergence</div>
                <p>Assuming you’ve made it this far in our blog series, you are probably not a stranger to the double diamond...</p>
              </div>
            </a>
          </li>

          <li class="blog_post col-sm-12 col-md-4" id="blog-6">
            <a href="{{ url_for('blog_week_6') }}">
              <div class="item">
                <div class="thumbnail"></div>
                <div class="blog_week"><h2>Week 06</h2></div>
                <div class="blog_title">Racing Down Three Lanes</div>
                <p>Our team shifted to a rapid design, build, testing phase this week! Part of the change in our work has been to move into parallel lanes so we can move faster while checking in together.</p>
              </div>
            </a>
          </li>

          <li class="blog_post col-sm-12 col-md-4" id="blog-5">
            <a href="{{ url_for('blog_week_5') }}">
              <div class="item">
                <div class="thumbnail"></div>
                <div class="blog_week"><h2>Week 05</h2></div>
                <div class="blog_title">Accelerating the Pace</div>
                <p>Once you identify your target, all that’s left to do is move toward it.</p>
              </div>
            </a>
          </li>

          <li class="blog_post col-sm-12 col-md-4" id="blog-4">
            <a href="{{ url_for('blog_week_4') }}">
              <div class="item">
                <div class="thumbnail"></div>
                <div class="blog_week"><h2>Week 04</h2></div>
                <div class="blog_title">Buy a Feature, Any Feature</div>
                <p>Our team is forging ahead to create a system that will help people with disabilities feel confident about how their disability is represented during the hiring process.</p>
              </div>
            </a>
          </li>

          <li class="blog_post col-sm-12 col-md-4" id="blog-3">
            <a href="{{ url_for('blog_week_3') }}">
              <div class="item">
                <div class="thumbnail"></div>
                <div class="blog_week"><h2>Week 03</h2></div>
                <div class="blog_title">Finding a New Need</div>
              </div>
                <p>What a difference a week makes! Our team always learns so much from research, and this week was no exception. We came to the end of our first summer sprint with a focused need to guide us through the rest of the project.</p>
            </a>
          </li>

          <li class="blog_post col-sm-12 col-md-4" id="blog-2">
            <a href="{{ url_for('blog_week_2') }}">
              <div class="item">
                <div class="thumbnail"></div>
                <div class="blog_week"><h2>Week 02</h2></div>
                <div class="blog_title">Starting to Sprint</div>
                <p>No one wants to get stuck in the past. However, in the words of G.K. Adams, sometimes it's necessary to find the right path ahead. This week, our team took Adams’ message to heart, as we worked toward a final design concept.</p>
              </div>
            </a>
          </li>

          <li class="blog_post col-sm-12 col-md-4" id="blog-1">
            <a href="{{ url_for('blog_week_1') }}">
              <div class="item">
                <div class="thumbnail"></div>
                <div class="blog_week"><h2>Week 01</h2></div>
                <div class="blog_title">Welcome to New York!</div>
                <p>If you're going to run a marathon, make sure you take the last few weeks off. It may sound counterintuitive, but the concept of “tapering” is a critical part of marathon training.</p>
              </div>
            </a>
          </li>

        </ul>
        </div>        
        </section>
        </div>
        <div style="text-align: center;"><a id="show_more" class="d-md-none d-lg-none d-xl-none">Show More</a></div>
      </section><!-- end portfolio section -->

    </div><!-- End main page -->
    </div><!-- end container -->
{% include "footer.html" %}
  </body>
</html>
