<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Evaluating B READY</title>
    <!-- JS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" /></script>
    <script src="{{ url_for('static', filename='js/story.js') }}"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body id="evaluation">
    <!--<div id="for_testing"></div>-->
    {% include "header.html" %}
    <div id="page_title">
      <div class="row">
        <div id="heading" class="col-lg-7 col-sm-12">
          How do we know that B READY is a successful design?
        </div>
      </div>
    </div>
    <!-- section1 -->
    <section id="eval-overview">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div id="subhead">
              <h1>OVERVIEW</h1>
              <div class="row">
                  <span class="col-sm-12 col-md-4 lede">The need for B READY emerged from three months of research with our client during our Spring semester.</span>
                  <p class="col-sm-12 col-md-4">Based on the problems that we identified, creating a web app to help recruiting coordinators and candidates with disabilities handle accommodation requests was important. Candidates with disabilities were not always sure if they should disclose, and recruiters an recruiting coordinators did not always know how to best handle accommodation requests.</p>
                  <p class="col-sm-12 col-md-4">
                  However, how could we ensure that whatever we built would successfully address these problems? Our team used further research to both create a framework for measurement and test whether or not we were achieving the right results.</p>
              </div>
              <button class="btn--default fill" id="stop-animation-btn"> Pause Animations on this Page </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="eval-checklist" class="dots">
      <!-- checklist boxes -->
      <div id="sub-section">
        <div class="container">        
        <h1 id = "hidden"> KEY EVALUATION METRICS </h1>
        <div class="row">
          <h1 class="col-sm-12 col-md-12">Evaluation Metrics</h1>
          <span class="col-sm-12 col-md-4 lede">
          Our team decided to measure the success of our designs using the following criteria for each group.</span>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 candidate">
            <h3>Candidates with Disabilities</h3>
            <ul>
              <li>
                <span class="corner"></span>
                <h4>Understand</h4>
                <p>Do I understand what is required for this stage of the interview?</p>
              </li>
              <li>
                <span class="corner"></span>
                <h4>Evaluate</h4>
                <p>Can I identify what I might need in terms of accommodation for this stage of the interview?</p>
              </li>
              <li>
                <span class="corner"></span>
                <h4>Act</h4>
                <p>Do I feel confident about requesting an accommodation?</p>
              </li>
          </div>
          <div class="col-md-6 col-sm-12 recruiting">
            <h3>Recruiting Coordinators</h3>
            <ul>
              <li>
                <span class="corner"></span>
                <h4>Understand</h4>
                <p>Do I understand what this candidate needs?</p>
              </li>
              <li>
                <span class="corner"></span>
                <h4>Evaluate</h4>
                <p>What do I have the power to do to implement this request?</p>
              </li>
              <li>
                <span class="corner"></span>
                <h4>Act</h4>
                <p>Can I easily implement this request?</p>
              </li>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- section2 -->
    <section id="eval-success-candidates">
      <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="subhead">
            <div class="row">
              <div class="col-lg-4 col-sm-12">
                <p><span class="lede">Candidates don't always know if they need to disclose their disability.</span> In order to understand how we could address this, we conducted several co-design sessions with people with disabilities. In one of these sessions, a participant shared a mental model that has served us well for evaluating our prototype. They focus on the following steps when trying to understand if they should request an accommodation:</p>
              </div>
            </div>
            <div class='ui'>
              <div class="row">
                <div class="col-lg-3 col-sm-12 animatable fadeInDown animationDelay">
                  <div class='ui_box'>
                    <div class='ui_box__inner2'>
                    <span class="corner"></span>
                      <span> Understand </span>
                      What is expected of me?
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 col-sm-12" id="icon-text">
                  <img class="tri-icons" src="{{ url_for('static', filename='assets/images/arrows-white.png') }}" role="presentation"/>
                </div>
                <div class="col-lg-3 col-sm-12 animatable fadeInDown animationDelayMed">
                  <div class='ui_box'>
                    <div class='ui_box__inner2'>
                      <span class="corner"></span>
                      <span> Evaluate</span>
                      Will I need an accommodation?
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 col-sm-12" id="icon-text">
                  <img class="tri-icons" src="{{ url_for('static', filename='assets/images/arrows-white.png') }}" role="presentation"/>
                </div>
                <div class="col-lg-3 col-sm-12 animatable fadeInDown animationDelayLong">
                  <div class='ui_box'>
                    <div class='ui_box__inner2'>
                      <span class="corner"></span>
                      <span> Act</span>
                      How do I ask for an accommodation?
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section id="eval-candidate-comparison">
    <div class="container">
    <div class="row">
    <div class="col-lg-4 col-sm-12">      
      <h1> SUCCESS FOR CANDIDATES</h1>      
      <p>Our focus became measuring the key attributes at each stage of this process for candidates with disabilities. Specifically we conducted over 15 usability tests and compared the answers to the following questions based on if a candidate was using our prototype vs the current resource (an email and PDF from a recruiter):</p>
    </div>
    </div>
    <div class='ui'>
    <div class="row">
    <div class="col-lg-3 col-sm-12 comparison animatable fadeInDown animationDelay">
      <div class="outer">
        <div class="inner_UEA">
          <span class="corner"></span>          
          <h3>Understand</h3>
          <p>Do I understand what is required for this stage of the interview?</p>
        </div>
        <div class="before">
          <h4>Current Email and PDF</h4>
          <p>0/10 could identify at least three pieces of information about the tasks, tools and environment for their upcoming interview.</p>
        </div>
        <div class="after">
          <h4>B READY</h4>
          <p>8/10 participants could identify at least three pieces of information about the tasks, tools and environment for their upcoming interview.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-sm-12" id="icon-text">
    <img class="tri-icons" src="{{ url_for('static', filename='assets/images/arrows-grey.png') }}" role="presentation"/>
    </div>
    <div class="col-lg-3 col-sm-12 comparison animatable fadeInDown animationDelayMed">
      <div class="outer">
        <div class="inner_UEA">
          <span class="corner"></span>          
          <h3>Evaluate</h3>
          <p>Can I identify what I might need in terms of accommodation for this stage of the interview?</p>
        </div>
        <div class="before">
          <h4>Current Resources</h4>
          <p>Using narrated videos, static images and floorplans helped some participants identify issues with physical space.</p>
        </div>
        <div class="after">
          <h4>B READY</h4>
          <p>However, 360 Photos like the kind in B READY helped candidates point out the most potential accommodations they might need.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-1 col-sm-12" id="icon-text">
    <img class="tri-icons" src="{{ url_for('static', filename='assets/images/arrows-grey.png') }}" role="presentation"/>
    </div>
    <div class="col-lg-3 col-sm-12 comparison animatable fadeInDown animationDelayLong">
      <div class="outer">
        <div class="inner_UEA">
          <span class="corner"></span>          
          <h3>Act</h3>
          <p>Do I feel confident about requesting an accommodation?</p>
        </div>
        <div class="before">
          <h4>Current State</h4>
          <p>1/6 participants felt confident requesting an accommodation via email, and it took them an average of 15 minutes.</p>
        </div>
        <div class="after">
          <h4>B READY</h4>
          <p>With B READY 5/6 participants felt confident requesting an accommodation, which took only five minutes.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>

    <section class="eval-changes">
    <div id="sub-section">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <h1>CANDIDATE ITERATIONS</h1>
        <p>We continued iterating on our designs until the prototype outperformed the email significantly. Some of the changes we made along the way include:</p>
      </div>
    </div>
    <ul class="row">
      <li class="col-md-3 col-sm-12"><p>
      Creating accessibility call outs in our content to help users evaluate the need for an accommodation</p>
      </li>
      <li class="col-md-3 col-sm-12"><p>
        Including an immersive, visual view of key spaces to give candidates more detailed information about a space so they can assess if it will be accessible to them
      </p>
      </li>
      <li class="col-md-3 col-sm-12"><p>
        Creating an accommodations menu experience that gives candidates more confidence that our client has accessibility expertise</p>
      </li>
      <li class="col-md-3 col-sm-12"><p>
        Favoring a one column design over a three column design that is more overwhelming for candidates to use</p>
      </li>
    </ul>
    </div>
    </section>
    <!-- quote -->
    <section class="quote">
      <div id="subhead-dark">
        <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <blockquote class="block animatable fadeInDown animationDelay" id="heading2">
              <span>This would be such a cool tool to have in a job interview.</span>
              <span>I am always so hesitant to ask for things but this makes me feel way more confident. It would be so nice to have a company say, we get it, there are things that you need and we are okay with providing them.</span>
              <span>Emailing is something I have always had to do and it is very stressful for me.</span></blockquote>
            <span class="cite">Cassie, Wheelchair User</span>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- section3 -->
    <section id="eval-recruiting-comparison">
      <div class="container">
      <div class="row">
        <div class="col-12">
          <div id="subhead">
            <h1>SUCCESS FOR COORDINATORS</h1>
            <div class="row">
              <div class="col-lg-4 col-sm-12">
              <p>Similarly, we held several codesign sessions with recruiting coordinators to understand their current processes for handling accommodation requests. What were their pain points? What did they care most about in the experience? Two key points emerged that we decied to measure over fifteen usability studies:</p>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col-lg-3 col-sm-12 comparison animatable fadeInDown animationDelay">
                  <div class="outer">
                    <div class="inner_UEA">
                      <span class="corner"></span>
                      <h3>Understand</h3>
                      <p>Do I understand what this candidate needs?</p>
                    </div>
                    <div class="before">
                      <h4>Current State</h4>
                      <p>Coordinators frequently find out about accommodations needed in person right when the candidate needs them.</p>
                    </div>
                    <div class="after">
                      <h4>B READY</h4>
                      <p>By creating confidence for candidates, we anticipate that B READY will give recruiters a much improved buffer time in order to process an accommodation request.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 col-sm-12" id="icon-text">
                  <img class="tri-icons" src="{{ url_for('static', filename='assets/images/arrows-grey.png') }}" role="presentation"/>
                </div>
                <div class="col-lg-3 col-sm-12 comparison animatable fadeInDown animationDelayMed">
                  <div class="outer">
                    <div class="inner_UEA">
                      <span class="corner"></span>
                      <h3>Evaluate</h3>
                      <p>What do I have the power to do to implement this request?</p>
                    </div>
                    <div class="before">
                      <h4>Current State</h4>
                      <p>Coordinators either send 100% of requests to Employee Relations or deal with 100% of them by themselves, depending on their seniority and/or how familiar they are with accessibility.</p>
                    </div>
                    <div class="after">
                      <h4>B READY</h4>
                      <p>With B READY 8/10 coordinators felt confident they had handled the accommodation request correctly, and 10/10 could identify which accommodations required HR review.</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 col-sm-12" id="icon-text">
                  <img class="tri-icons" src="{{ url_for('static', filename='assets/images/arrows-grey.png') }}" role="presentation"/>
                </div>
               <div class="col-lg-3 col-sm-12 comparison animatable fadeInDown animationDelayLong">
                  <div class="outer">
                    <div class="inner_UEA">
                      <span class="corner"></span>
                      <h3>Act</h3>
                      <p>Can I easily implement this request?</p>
                    </div>
                    <div class="before">
                      <h4>Current State</h4>
                      <p>Using in person coordination, Email, Spreadsheets and without any protocol it can take a recruiting coordinator 24 steps and 140 minutes to handle three accommodations.</p>
                    </div>
                    <div class="after">
                      <h4>B READY</h4>
                      <p>With B READY it takes 8 steps and 7 minutes to handle those same three accommodations.</p>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="eval-changes">
      <div id="sub-section">
        <div class="row">
        <div class="col-sm-12 col-md-4">
        <h1>Coordinator Iterations</h1>
        <p>Several design iterations helped us achieve an optimal level of efficiency while also giving recruiting coordinators peace of mind:</p>
      </div>
    </div>
        <ul class="row">
          <li class="col-md-3 col-sm-12">
            <p>
            Minimizing the number of steps involved with handling an accommodation request.</p>
          </li>
          <li class="col-md-3 col-sm-12">
            <p>
            Integrating with existing recruiting coordinator systems and tools
            </p>
          </li>
          <li class="col-md-3 col-sm-12">
            <p>
            Providing self-service resources with more information about accommodations
            </p>
          </li>
          <li class="col-md-3 col-sm-12">
            <p>
            Reducing scrolling in favor of more clicks, which feel like less work for recruiting coordinators
            </p>
          </li>
        </ul>          
    </div>
    </section>
    <!-- quote -->
    <section class="quote">
      <div id="subhead-dark">
        <div class="container">
        <div class="row">
          <div class ="col-lg-6 col-sm12">
              <blockquote class="block animatable fadeInDown animationDelay" id="heading2">
                <span>I would definitely recommend this tool to other coordinators!</span>
                <span>This will help us to be proactive rather than being reactive. I wish I had known about this earlier.</span>
              </blockquote>
              <span class="cite">Recruiting Coordinator</span>              
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "footer.html" %}
  </body>
</html>