        <div class="row slider-component">
          <div class="col-sm-12 col-md-2"><h3>TRUST</h3></div>
          <div class ="col-sm-12 col-md-7">
            <div class ="left-item" class="left-text"> I do not trust this company</div>
            <div class ="right-item"> I trust this company a lot</div>
            <div class="slider">
              <input id= "range1" type = "range" min="0" max="100" onchange="rangevalue.value=value"/>
            </div>         
          </div>
          <div class ="col-sm-0 col-md-1"></div>
          <div class ="col-sm-12 col-md-2">
            <output class="disclose" id="rangevalue">Unsure</output>
          </div>
        </div>

        <div class="row slider-component">
          <div class="col-sm-12 col-md-2"><h3>IDENTITY</h3></div>
          <div class ="col-sm-12 col-md-7">
            <div class ="left-item" class="left-text">I do not identify as a person with a disability</div>
            <div class ="right-item">I strongly identify as a person with a disability</div>
            <div class="slider">
              <input id= "range2" type = "range" min="0" max="100" onchange="rangevalue2.value=value"/>
            </div>         
          </div>
          <div class ="col-sm-0 col-md-1"></div>
          <div class ="col-sm-12 col-md-2">
            <output class="disclose" id="rangevalue">Unsure</output>
          </div>
        </div>

        <div class="row slider-component">
          <div class="col-sm-12 col-md-2"><h3>HISTORY</h3></div>
          <div class ="col-sm-12 col-md-7">
            <div class ="left-item" class="left-text">My disability is recent</div>
            <div class ="right-item">I strongly identify as a person with a disability</div>
            <div class="slider">
              <input id= "range3" type = "range" min="0" max="100" onchange="rangevalue3.value=value"/>
            </div>         
          </div>
          <div class ="col-sm-0 col-md-1"></div>
          <div class ="col-sm-12 col-md-2">
            <output class="disclose" id="rangevalue">Unsure</output>
          </div>
        </div>

         <div class="row slider-component">
          <div class="col-sm-12 col-md-2"><h3>VISIBILITY</h3></div>
          <div class ="col-sm-12 col-md-7">
            <div class ="left-item" class="left-text">My disability is not visible in this situation</div>
            <div class ="right-item">My disability will be very visible in this situation</div>
            <div class="slider">
              <input id= "range4" type = "range" min="0" max="100" onchange="rangevalue4.value=value"/>
            </div>
          </div>
          <div class ="col-sm-0 col-md-1"></div>
          <div class ="col-sm-12 col-md-2">
            <output class="disclose" id="rangevalue">Unsure</output>
          </div>
        </div>

        <div class="row slider-component">
          <div class="col-sm-12 col-md-2"><h3>NECESSITY</h3></div>
          <div class ="col-sm-12 col-md-7">
            <div class ="left-item" class="left-text">I will not need to do anything that involves my disability</div>
            <div class ="right-item">I will need to do something that is affected by my disability</div>
            <div class="slider">
              <input id= "range5" type = "range" min="0" max="100" onchange="rangevalue5.value=value"/>
            </div>         
          </div>
          <div class ="col-sm-0 col-md-1"></div>
          <div class ="col-sm-12 col-md-2">
            <output class="disclose" id="rangevalue">Unsure</output>
          </div>
        </div>    
